button {
  border: none;
  font: var(--button);
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
  will-change: transform, background;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

button:active {
  transform: scale(0.9);
}

.primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
    background-color: var(--contrast2);
  }
}

.secondary {
  background-color: transparent;
  color: var(--contrast2);
  border: 2px solid var(--contrast2);
  &:hover {
    background-color: var(--contrast2);
    border-color: transparent;
    outline: none;
    color: var(--white);
  }
}
