.hero {
  & h3,
  h5,
  p {
    margin-block: 1rem;
  }
  &-image {
    & img {
      border-radius: 50%;
      inline-size: 5rem;
      block-size: 5rem;
    }
  }
  & h1 {
    font: var(--headline3);
    margin-block: 1rem;
    color: var(--contrast2);
  }
  & h5 {
    color: var(--gray2);
  }
  & p {
    color: var(--gray2);
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    & h1 {
      font: var(--headline2);
    }
    & h5 {
      font: var(--headline4);
    }
  }
}
