.hero {
  & h3,
  h5,
  p {
    margin-block: 1rem;
  }
  &-image {
    & img {
      border-radius: 50%;
      inline-size: 5rem;
    }
  }
  & h3 {
    color: var(--contrast2);
  }
  & h5 {
    color: var(--gray2);
  }
  & p {
    color: var(--gray2);
  }
}
