<div class="wrapper hero">
  <section class="hero section" role="banner">
    <div class="hero-image">
      <img
        width="80"
        height="80"
        loading="lazy"
        [src]="imagePath"
        [alt]="placeholder"
        [title]="placeholder"
      />
    </div>
    <h1>{{ user.fullName }}</h1>
    <h5>{{ user.resume }}</h5>
    <p>{{ user.description }}</p>
    <app-button
      type="primary"
      title="Descargar Currículum"
      [size]="'50'"
      [breakPoint]="'lg'"
      [link]="user.cvLink"
    ></app-button>
  </section>
</div>
