.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  &-name {
    color: var(--gray3);
    margin: 0;
  }
  & i {
    color: var(--primary);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
