ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  & li a {
    text-decoration: none;
    color: var(--secondary);
    text-transform: uppercase;
    outline: none;
    font: var(--body2bold);
    &:hover,
    &:focus {
      color: var(--contrast2);
    }
  }
}
