section.section,
footer.footer {
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.wrapper {
  &.hero {
    background-color: var(--white);
  }
  &.experienceList,
  &.contact,
  &.footer {
    background-color: var(--contrast2);
  }
}
.wrapper.projectList {
  background-color: var(--secondary);
}

@media screen and (min-width: 1024px) {
  section.section,
  footer.footer {
    max-inline-size: 50rem;
  }
}

@media screen and (min-width: 1440px) {
  section.section {
    max-inline-size: 60rem;
  }
  footer.footer {
    max-inline-size: 100%;
    box-sizing: border-box;
    padding-inline: 4rem;
  }
}
