.section.contact {
  background-color: var(--contrast2);
  padding-block: 5rem;
  & h4 {
    color: var(--white);
    margin: 0;
    margin-block-end: 2rem;
  }
  & a {
    color: var(--contrast3);
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .section.contact {
    & h4 {
      font: var(--headline2);
    }
    & a {
      font: var(--headline4);
    }
  }
}
